body {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.movie {
	float: left;
	padding: 10px;
	margin: 5px;
}

li.movie.on {
	border-radius: 10px;
	background-color: #afa;
}

li.movie.playing {
	background-color: deeppink;
}

.assign1-button {
	margin-right: 18px
}

.assign2-button {
	margin-left: 18px
}

.vertical-slider {
	height: 400px !important;
	padding: 0;
	margin-top: 60px;
}

#holizontal-slider {
	margin-top: 60px;
	margin-left: 650px;
	width: 600px;
	background: #ddd;
}

#player1Area {
	padding-right: 0;
}

#player2Area {
	padding-left: 0;
}

.glyphicon-volume-up {
	font-size: 25px;
}