body {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.movie {
	float: left;
	padding: 10px;
}

li.movie.on {
	border-radius: 10px;
	background-color: #afa;
}

li.movie.playing {
	background-color: deeppink;
}

.assign1-button {
	margin-right: 18px
}

.assign2-button {
	margin-left: 18px
}