body {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.movie {
	float: left;
	padding: 10px;
}

li.movie.assigned1 {
	background-color: #afa;
}

li.movie.assigned2 {
	background-color: pink;
}

li.movie.playing {
	background-color: deeppink;
}

#radioButtons {
	margin-top: 10px
}